{% extends 'base-extended.twig' %}

{% block body %}
<!--List-->
    <div class="work-area__rows work-area__rows_search">
        {% if deals %}
            {% for deal in deals %}
                <div class="work-area__row">
                    <div class="work-area__row-info">
                        <a href="/card/{{ deal.id }}?funnel_id={{ deal.funnel_id }}"><h4 class="card-title">{{ deal.name }}</h4></a>
                        <p class="card-subtitle">{{ deal.dead_name }}</p>
                        <p class="card-agent">Агент/Мастер: {{ deal.agent }}</p>
                    </div>

                    <div class="work-area__row-tag-graveyard">
                        {% if deal.funnel_id == 2 %}
                            <div class="work-area__row-tag work-area__row-tag_landscaped">
                                <p>{{ deal.tag }}</p>
                            </div>
                        {% else %}
                            <div class="work-area__row-tag">
                                <p>{{ deal.tag }}</p>
                            </div>
                        {% endif %}

                        <div class="work-area__row-graveyard">
                            <img src="/assets/img/grave.svg" alt="">
                            <p>{{ deal.graveyard }}</p>
                        </div>
                    </div>

                    <div class="work-area__row-stage-info">
                        <p>Этап:</p>

                        <div class="work-area__row-stage {{ deal.color_class }}">
                            <h4>{{ deal.stage_name }}</h4>
                        </div>
                    </div>

                    <div class="work-area__row-chat-date">
                        <div class="work-area__row-chat">
                            <img src="/assets/img/chat-card.svg" alt="">
                            <p>{{ deal.message_count }}</p>
                        </div>
                        <div class="work-area__row-date">
                            <img src="/assets/img/calendar-card.svg" alt="">
                            <p>{{ deal.date_create }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}