{% extends 'base.twig' %}

{% block body %}
    <div class="sidebar">
        <a href="#" class="sidebar-logo__ancor">
            <div class="sidebar-logo">
                <div class="sidebar-logo__circle">
                    <img src="/assets/img/logo-w.svg" alt="">
                </div>
                <p>Небеса</p>
            </div>
        </a>

        <nav class="sidebar-nav">
            <ul>
                <li class="sidebar-nav_active">
                    <a href="/">
                        <div class="sidebar-nav__img">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.625 1.75C2.14175 1.75 1.75 2.14175 1.75 2.625V5.25C1.75 5.73325 2.14175 6.125 2.625 6.125H5.25C5.73325 6.125 6.125 5.73325 6.125 5.25V2.625C6.125 2.14175 5.73325 1.75 5.25 1.75H2.625ZM2.625 0H5.25C6.69974 0 7.875 1.17526 7.875 2.625V5.25C7.875 6.69974 6.69974 7.875 5.25 7.875H2.625C1.17526 7.875 0 6.69974 0 5.25V2.625C0 1.17526 1.17526 0 2.625 0ZM12.25 14H18.375C19.8248 14 21 15.1752 21 16.625V18.375C21 19.8248 19.8248 21 18.375 21H12.25C10.8002 21 9.625 19.8248 9.625 18.375V16.625C9.625 15.1752 10.8002 14 12.25 14ZM12.25 15.75C11.7667 15.75 11.375 16.1417 11.375 16.625V18.375C11.375 18.8583 11.7667 19.25 12.25 19.25H18.375C18.8583 19.25 19.25 18.8583 19.25 18.375V16.625C19.25 16.1417 18.8583 15.75 18.375 15.75H12.25ZM2.625 9.625H5.25C6.69974 9.625 7.875 10.8002 7.875 12.25V18.375C7.875 19.8248 6.69974 21 5.25 21H2.625C1.17526 21 0 19.8248 0 18.375V12.25C0 10.8002 1.17526 9.625 2.625 9.625ZM2.625 11.375C2.14175 11.375 1.75 11.7667 1.75 12.25V18.375C1.75 18.8583 2.14175 19.25 2.625 19.25H5.25C5.73325 19.25 6.125 18.8583 6.125 18.375V12.25C6.125 11.7667 5.73325 11.375 5.25 11.375H2.625ZM18.375 0C19.8248 0 21 1.17526 21 2.625V9.625C21 11.0748 19.8248 12.25 18.375 12.25H12.25C10.8002 12.25 9.625 11.0748 9.625 9.625V2.625C9.625 1.17526 10.8002 0 12.25 0H18.375ZM11.375 2.625V9.625C11.375 10.1083 11.7667 10.5 12.25 10.5H18.375C18.8583 10.5 19.25 10.1083 19.25 9.625V2.625C19.25 2.14175 18.8583 1.75 18.375 1.75H12.25C11.7667 1.75 11.375 2.14175 11.375 2.625Z" fill="#B1B7C3"/>
                            </svg>
                        </div>
                        <p>Дашборд</p>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="sidebar-nav__img">
                            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.49997 2.16664H17.8333V4.24997H9.49997V2.16664ZM9.49997 9.4583H17.8333V11.5416H9.49997V9.4583ZM9.49997 16.75H17.8333V18.8333H9.49997V16.75ZM6.26833 0.252197L7.5068 1.20487L3.79428 6.03116L0.443848 3.09953L1.47276 1.92363L3.5708 3.7583L6.26833 0.252197ZM6.26833 7.54386L7.5068 8.49654L3.79428 13.3228L0.443848 10.3912L1.47276 9.2153L3.5708 11.05L6.26833 7.54386ZM6.26833 14.8355L7.5068 15.7882L3.79428 20.6145L0.443848 17.6829L1.47276 16.507L3.5708 18.3416L6.26833 14.8355Z" fill="#B1B7C3"/>
                            </svg>
                        </div>
                        <p>Мои задачи</p>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <div class="sidebar-nav__img">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_3_748)">
                                    <path d="M3.09375 15.1875H4.78125C4.93678 15.1875 5.0625 15.0618 5.0625 14.9062V13.5C5.0625 13.3445 4.93678 13.2188 4.78125 13.2188H3.09375C2.93822 13.2188 2.8125 13.3445 2.8125 13.5V14.9062C2.8125 15.0618 2.93822 15.1875 3.09375 15.1875ZM3.375 13.7812H4.5V14.625H3.375V13.7812Z" fill="#B1B7C3"/>
                                    <path d="M6.46875 15.1875H8.15625C8.31178 15.1875 8.4375 15.0618 8.4375 14.9062V13.5C8.4375 13.3445 8.31178 13.2188 8.15625 13.2188H6.46875C6.31322 13.2188 6.1875 13.3445 6.1875 13.5V14.9062C6.1875 15.0618 6.31322 15.1875 6.46875 15.1875ZM6.75 13.7812H7.875V14.625H6.75V13.7812Z" fill="#B1B7C3"/>
                                    <path d="M9.84375 15.1875H11.5312C11.6868 15.1875 11.8125 15.0618 11.8125 14.9062V13.5C11.8125 13.3445 11.6868 13.2188 11.5312 13.2188H9.84375C9.68822 13.2188 9.5625 13.3445 9.5625 13.5V14.9062C9.5625 15.0618 9.68822 15.1875 9.84375 15.1875ZM10.125 13.7812H11.25V14.625H10.125V13.7812Z" fill="#B1B7C3"/>
                                    <path d="M3.09375 12.0938H4.78125C4.93678 12.0938 5.0625 11.968 5.0625 11.8125V10.4062C5.0625 10.2507 4.93678 10.125 4.78125 10.125H3.09375C2.93822 10.125 2.8125 10.2507 2.8125 10.4062V11.8125C2.8125 11.968 2.93822 12.0938 3.09375 12.0938ZM3.375 10.6875H4.5V11.5312H3.375V10.6875Z" fill="#B1B7C3"/>
                                    <path d="M6.46875 12.0938H8.15625C8.31178 12.0938 8.4375 11.968 8.4375 11.8125V10.4062C8.4375 10.2507 8.31178 10.125 8.15625 10.125H6.46875C6.31322 10.125 6.1875 10.2507 6.1875 10.4062V11.8125C6.1875 11.968 6.31322 12.0938 6.46875 12.0938ZM6.75 10.6875H7.875V11.5312H6.75V10.6875Z" fill="#B1B7C3"/>
                                    <path d="M9.84375 12.0938H11.5312C11.6868 12.0938 11.8125 11.968 11.8125 11.8125V10.4062C11.8125 10.2507 11.6868 10.125 11.5312 10.125H9.84375C9.68822 10.125 9.5625 10.2507 9.5625 10.4062V11.8125C9.5625 11.968 9.68822 12.0938 9.84375 12.0938ZM10.125 10.6875H11.25V11.5312H10.125V10.6875Z" fill="#B1B7C3"/>
                                    <path d="M13.2188 12.0938H14.9062C15.0618 12.0938 15.1875 11.968 15.1875 11.8125V10.4062C15.1875 10.2507 15.0618 10.125 14.9062 10.125H13.2188C13.0632 10.125 12.9375 10.2507 12.9375 10.4062V11.8125C12.9375 11.968 13.0632 12.0938 13.2188 12.0938ZM13.5 10.6875H14.625V11.5312H13.5V10.6875Z" fill="#B1B7C3"/>
                                    <path d="M3.09375 9H4.78125C4.93678 9 5.0625 8.87428 5.0625 8.71875V7.3125C5.0625 7.15697 4.93678 7.03125 4.78125 7.03125H3.09375C2.93822 7.03125 2.8125 7.15697 2.8125 7.3125V8.71875C2.8125 8.87428 2.93822 9 3.09375 9ZM3.375 7.59375H4.5V8.4375H3.375V7.59375Z" fill="#B1B7C3"/>
                                    <path d="M6.46875 9H8.15625C8.31178 9 8.4375 8.87428 8.4375 8.71875V7.3125C8.4375 7.15697 8.31178 7.03125 8.15625 7.03125H6.46875C6.31322 7.03125 6.1875 7.15697 6.1875 7.3125V8.71875C6.1875 8.87428 6.31322 9 6.46875 9ZM6.75 7.59375H7.875V8.4375H6.75V7.59375Z" fill="#B1B7C3"/>
                                    <path d="M9.84375 9H11.5312C11.6868 9 11.8125 8.87428 11.8125 8.71875V7.3125C11.8125 7.15697 11.6868 7.03125 11.5312 7.03125H9.84375C9.68822 7.03125 9.5625 7.15697 9.5625 7.3125V8.71875C9.5625 8.87428 9.68822 9 9.84375 9ZM10.125 7.59375H11.25V8.4375H10.125V7.59375Z" fill="#B1B7C3"/>
                                    <path d="M13.2188 9H14.9062C15.0618 9 15.1875 8.87428 15.1875 8.71875V7.3125C15.1875 7.15697 15.0618 7.03125 14.9062 7.03125H13.2188C13.0632 7.03125 12.9375 7.15697 12.9375 7.3125V8.71875C12.9375 8.87428 13.0632 9 13.2188 9ZM13.5 7.59375H14.625V8.4375H13.5V7.59375Z" fill="#B1B7C3"/>
                                    <path d="M16.875 1.125H14.9062V0.84375C14.9062 0.377719 14.5285 0 14.0625 0C13.5965 0 13.2188 0.377719 13.2188 0.84375V1.125H4.78125V0.84375C4.78125 0.377719 4.40353 0 3.9375 0C3.47147 0 3.09375 0.377719 3.09375 0.84375V1.125H1.125C0.503156 1.125 0 1.62816 0 2.25V16.875C0 17.4968 0.503156 18 1.125 18H16.875C17.4968 18 18 17.4968 18 16.875V2.25C18 1.62816 17.4968 1.125 16.875 1.125ZM13.7812 0.84375C13.7812 0.688219 13.907 0.5625 14.0625 0.5625C14.218 0.5625 14.3438 0.688219 14.3438 0.84375V1.6875V2.8125C14.3438 2.96803 14.218 3.09375 14.0625 3.09375C13.907 3.09375 13.7812 2.96803 13.7812 2.8125V1.6875V0.84375ZM3.65625 0.84375C3.65625 0.688219 3.78197 0.5625 3.9375 0.5625C4.09303 0.5625 4.21875 0.688219 4.21875 0.84375V1.6875V2.8125C4.21875 2.96803 4.09303 3.09375 3.9375 3.09375C3.78197 3.09375 3.65625 2.96803 3.65625 2.8125V1.6875V0.84375ZM17.4375 16.875C17.4375 17.1855 17.1855 17.4375 16.875 17.4375H1.125C0.8145 17.4375 0.5625 17.1855 0.5625 16.875V4.78125H17.4375V16.875ZM17.4375 4.21875H0.5625V2.25C0.5625 1.9395 0.8145 1.6875 1.125 1.6875H3.09375V2.8125C3.09375 3.27853 3.47147 3.65625 3.9375 3.65625C4.40353 3.65625 4.78125 3.27853 4.78125 2.8125V1.6875H13.2188V2.8125C13.2188 3.27853 13.5965 3.65625 14.0625 3.65625C14.5285 3.65625 14.9062 3.27853 14.9062 2.8125V1.6875H16.875C17.1855 1.6875 17.4375 1.9395 17.4375 2.25V4.21875Z" fill="#B1B7C3"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_3_748">
                                        <rect width="18" height="18" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <p>Календарь</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="work-area">
        <div class="work-area__header">
            <div class="work-area__header-title">
                <h1>Производство памятников</h1>
                <p>С возвращением, {{ userName }}</p>
            </div>

            <div class="work-area__header-search">
                <input type="text" name="" id="" placeholder="Поиск">
                <img src="/assets/img/search.svg" alt="">
            </div>

            <div class="work-area__header-add-btn">
                <img src="/assets/img/plus-btn.svg" alt="">
                <p>Новый заказ</p>
            </div>

            <div class="work-area__header-notify">
                <img src="/assets/img/notification.svg" alt="">
            </div>

            <div class="work-area__header-user">
                <img src="{{ avatar }}" alt="">
            </div>
        </div>

        <div class="work-area__view">
            <div class="work-area__view-btn work-area__view-btn_active" data-name="canban">
                <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.09336 0.000968491C6.25165 0.000968491 7.19063 0.91501 7.19063 2.04254V18.9584C7.19063 20.086 6.25165 21 5.09336 21H2.09727C0.938976 21 0 20.086 0 18.9584V2.04254C0 0.971392 0.847428 0.0929092 1.92526 0.00773486L2.09727 0.000968491H5.09336ZM21.9027 0.000968491C23.061 0.000968491 24 0.91501 24 2.04254V18.9584C24 20.086 23.061 21 21.9027 21H18.9066C17.7483 21 16.8094 20.086 16.8094 18.9584V2.04254C16.8094 0.91501 17.7483 0.000968491 18.9066 0.000968491H21.9027ZM13.4824 0C14.6407 0 15.5797 0.914041 15.5797 2.04157V18.9575C15.5797 20.085 14.6407 20.9991 13.4824 20.9991H10.4863C9.32805 20.9991 8.38907 20.085 8.38907 18.9575V2.04157C8.38907 0.914041 9.32805 0 10.4863 0H13.4824ZM5.09336 1.75089H2.09727L2.02857 1.7586C1.89621 1.78883 1.79766 1.90448 1.79766 2.04254V18.9584C1.79766 19.1195 1.9318 19.2501 2.09727 19.2501H5.09336C5.25883 19.2501 5.39297 19.1195 5.39297 18.9584V2.04254C5.39297 1.88147 5.25883 1.75089 5.09336 1.75089ZM21.9027 1.75089H18.9066C18.7411 1.75089 18.607 1.88147 18.607 2.04254V18.9584C18.607 19.1195 18.7411 19.2501 18.9066 19.2501H21.9027C22.0682 19.2501 22.2023 19.1195 22.2023 18.9584V2.04254C22.2023 1.88147 22.0682 1.75089 21.9027 1.75089ZM13.4824 1.74992H10.4863C10.3209 1.74992 10.1867 1.8805 10.1867 2.04157V18.9575C10.1867 19.1185 10.3209 19.2491 10.4863 19.2491H13.4824C13.6479 19.2491 13.782 19.1185 13.782 18.9575V2.04157C13.782 1.8805 13.6479 1.74992 13.4824 1.74992Z" fill="#B1B7C3"/>
                </svg>
                <p>Канбан</p>
            </div>
            <div class="work-area__view-btn" data-name="list">
                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 17H3.59999V13.6H0V17ZM6 17H24V14.7333H6V17ZM0 10.2H3.59999V6.8H0V10.2ZM6 10.2H24V7.93333H6V10.2ZM0 3.4H3.59999V0H0V3.4ZM6 3.4H24V1.13333H6V3.4Z" fill="#B1B7C3"/>
                </svg>
                <p>Список</p>
            </div>
        </div>

        <!--Canban-->
        <div class="work-area__columns">
            {% for stage in stages %}
                <div class="container">
                <div class="container__header {{ stage['color_class'] }}">
                    <h2>{{ stage['stage_name'] }}</h2>
                    <div class="container__header-counter">
                        <p>{{ stage['deals_count'] }}</p>
                    </div>
                    <img src="/assets/img/more.svg" alt="" class="container__header-settings">
                </div>

                {% if stage['stage_id'] == 1 %}
                <div class="add-new-order">
                    <img src="/assets/img/plus.svg" alt="">
                    <p>Новый заказ</p>
                </div>
                {% endif %}

                <ul class="sortable connectedSortable" data-stage="{{ stage['stage_id'] }}">
                    {% if stage['deals'] %}
                        {% for deal in stage['deals'] %}
                        <li class="card" data-deal="{{ deal.id }}">
                            <div class="card-header">
                                <a href="/card/{{ deal.id }}"><h4 class="card-title">{{ deal.name }}</h4></a>
                                <p class="card-subtitle">{{ deal.dead_name }}</p>
                                <p class="card-agent">Агент/Мастер: {{ deal.agent }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="card-footer-tag">
                                    <p>{{ deal.tag }}</p>
                                </div>
                                <div class="card-footer-graveyard">
                                    <img src="/assets/img/grave.svg" alt="">
                                    <p>{{ deal.graveyard }}</p>
                                </div>
                                <div class="card-footer-demiter"></div>
                                <div class="card-footer__bottom">
                                    <div class="card-footer__bottom-unit">
                                        <img src="/assets/img/chat-card.svg" alt="">
                                        <p>{{ deal.messages_count }}</p>
                                    </div>
                                    <div class="card-footer__bottom-unit">
                                        <img src="/assets/img/calendar-card.svg" alt="">
                                        <p>{{ deal.date_create }}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>

        <!--List-->
        <div class="work-area__rows">
            {% if deals %}
                {% for deal in deals %}
                    <div class="work-area__row">
                        <div class="work-area__row-info">
                            <a href="/card/{{ deal.id }}"><h4 class="card-title">{{ deal.name }}</h4></a>
                            <p class="card-subtitle">{{ deal.dead_name }}</p>
                            <p class="card-agent">Агент/Мастер: {{ deal.agent }}</p>
                        </div>

                        <div class="work-area__row-tag-graveyard">
                            <div class="work-area__row-tag">
                                <p>{{ deal.tag }}</p>
                            </div>

                            <div class="work-area__row-graveyard">
                                <img src="/assets/img/grave.svg" alt="">
                                <p>{{ deal.graveyard }}</p>
                            </div>
                        </div>

                        <div class="work-area__row-stage-info">
                            <p>Этап:</p>

                            <div class="work-area__row-stage {{ deal.color_class }}">
                                <h4>{{ deal.stage_name }}</h4>
                            </div>
                        </div>

                        <div class="work-area__row-chat-date">
                            <div class="work-area__row-chat">
                                <img src="/assets/img/chat-card.svg" alt="">
                                <p>{{ deal.message_count }}</p>
                            </div>
                            <div class="work-area__row-date">
                                <img src="/assets/img/calendar-card.svg" alt="">
                                <p>{{ deal.date_create }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}