{% extends 'base-extended.twig' %}

{% block body %}
    <div class="work-area__rows work-area__rows_search">
        <div class="work-area__rows-nomenklature-block">
            {% if products %}
            <div class="work-area__rows-nomenklature-block-wrapper-title">
                <p class="work-area__rows-nomenklature-title">Наименование</p>
                <p class="work-area__rows-nomenklature-category">Категория</p>
                <p class="work-area__rows-nomenklature-price">Цена</p>
            </div>
            {% endif %}

            <div class="work-area__rows-nomenklature-block-wrapper">
                {% if products %}
                    {% for product in products %}
                        <div class="work-area__rows-nomenklature-block-line">
                            <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-name">
                                <p>{{ product.name }}</p>
                            </div>

                            <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-category">
                                <p>{{ product.category_name }}</p>
                            </div>

                            <div class="work-area__rows-nomenklature-block-line-text work-area__rows-nomenklature-block-line-price">
                                <p>{{ product.price }} Руб</p>
                            </div>

                            <a href="/edit-payment-products/{{ product.id }}">
                                <div class="work-area__rows-btn">
                                    <p>Редактировать</p>
                                </div>
                            </a>

                            <div class="work-area__rows-btn work-area__rows-btn-red delete-product-btn" data-id="{{ product.id }}">
                                <p>Удалить</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <a href="/add-payment-products" class="add-products-link">
                    <div class="work-area__rows-btn work-area__rows-btn-add-products">
                        <p>Добавить наименование</p>
                    </div>
                </a>
                
            </div>
        </div>


    </div>
{% endblock %}