{% extends 'base-tasks.twig' %}

{% block body %}
<!--Canban-->
<div class="work-area__columns">
    {% for stage in data_list %}
    <div class="container">
        <div class="container__header {{ stage.color_class }}">
            <h2>{{ stage.name }}</h2>
        </div>
        {% if stage.id == 1 %}
        <div class="add-new-order" id="add-task-header" data-fancybox data-src="#task-form">
            <img src="assets/img/plus.svg" alt="">
            <p>Новая задача</p>
        </div>
        {% endif %}

        <ul class="sortable_tasks connectedSortable" data-stage="{{ stage.id }}">
            {% if stage.tasks %}
                {% for task in stage.tasks %}
                    <li class="task-item" data-item="{{ task.id }}">
                        <div class="card-header">
                            <a href="/tasks/task/{{ task.id }}"><h4 class="card-title">{{ task.task_title }}</h4></a>
                            <p class="card-subtitle">{{ task.executor_name }}</p>
                            <p class="card-agent">Контролер: {{ task.controller_name }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-demiter"></div>
                            <div class="card-footer__bottom">
                                <div class="card-footer__bottom-unit">
                                    <img src="assets/img/chat-card.svg" alt="">
                                    <p>{{ task.messages }}</p>
                                </div>
                                <div class="card-footer__bottom-unit">
                                    <img src="assets/img/calendar-card.svg" alt="">
                                    <p>{{ task.reformat_date }}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    {% endfor %}

</div>

    <form action="/add-task" class="add-tasks" id="task-form" method="post">
        <h2>Создать новую задачу</h2>
        <div class="controls">
            <div class="input-block">
                <label for="executor">Выберете исполнителя</label>
                <select name="executor" id="executor">
                    {% if users %}
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.fullname }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="input-block">
                <label for="date_end">Дата выполнения</label>
                <input type="text" id="date_end" name="date_end" placeholder="Дата выполнения">
            </div>

            <div class="input-block">
                <label for="task-name">Название задачи</label>
                <input type="text" id="task-name" name="task-name" placeholder="Название задачи">
            </div>

            <div class="input-block">
                <label for="task-text">Текст задачи</label>
                <textarea name="task-text" id="task-text" placeholder="Текст задачи"></textarea>
            </div>
        </div>

        <input type="submit" class="create-task__btn" value="Создать задачу">
    </form>

    <script>
        new AirDatepicker('#date_end', {
            autoClose: true,
        });
    </script>
{% endblock %}