{% extends 'base.twig' %}

{% block body %}
    <div class="work-area-info-common">
        <div class="work-area-info-common-title">
            <a href="/tasks"><img src="/assets/img/angle.svg" alt=""></a>
            <h2>{{ task.task_name }}</h2>
        </div>

        <div class="work-area-info-common-stage">
            <p class="work-area-info-common-stage_subtitle">Текущий этап:</p>
            <div class="work-area-info-common-stage-block {{ task.stage_color }}">
                <h4>{{ task.stage_name }}</h4>
                <img src="/assets/img/angle.svg" alt="" class="angle-rotated">
            </div>

            <ul class="work-area-info-common-stage-list" id="task-stage">
                {% if stages %}
                    {% for stage in stages %}
                        <li data-class="{{ stage.color_class }}" data-id="{{ stage.id }}">{{ stage.name }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div class="work-area-info-common-text">
            <div class="work-area-info-common-text-line">
                <p class="title">Контролер:</p>
                <p class="text">{{ task.controller_name }}</p>
            </div>

            <div class="work-area-info-common-text-line">
                <p class="title">Кому поручено:</p>
                <p class="text">{{ task.executor_name }}</p>
            </div>

            <div class="work-area-info-common-text-line">
                <p class="title">Дата выполнения:</p>
                <p class="text">{{ task.expired_date }}</p>
            </div>

            <div class="work-area-info-common-btns">
                <div class="work-area-info-common-btn end-btn" id="success-task" data-id="{{ task.id }}">
                    <p>Принять задачу</p>
                </div>

                <div class="work-area-info-common-btn cancel-btn" id="cancel-task" data-id="{{ task.id }}">
                    <p>Отменить задачу</p>
                </div>
            </div>

        </div>
    </div>
    <div class="work-area work-area_card">
        <div class="work-area__header">
            <div class="work-area__header-title">
                <h1>Задачи</h1>
                <p>С возвращением, {{ userName }}</p>
            </div>

            <div class="work-area__header-search">
                <input type="text" name="" id="search" placeholder="Поиск">
                <img src="/assets/img/search.svg" alt="" class="search-btn">
            </div>

            <div class="work-area__header-add-btn" data-fancybox data-src="#task-form">
                <img src="/assets/img/plus-btn.svg" alt="">
                <p>Новая задача</p>
            </div>

            <div class="work-area__header-notify">
                <img src="/assets/img/notification.svg" alt="">
            </div>

            <div class="work-area__header-user">
                <img src="{{ avatar }}" alt="">
            </div>
        </div>

        <div class="work-area-info-messages">
            <div class="work-area-info-messages-title-block">
                <h2 class="work-area-info-messages-title">Информация по задаче</h2>
            </div>
            
            <div class="work-area-block">
                <div class="work-area-info-messages-area">
                    {% if task.events %}
                        {% for event in task.events %}
                            {% if event.type_event == 'system' %}
                                <p class="work-area-info-message-event">{{ event.event_text }}</p>
                            {% endif %}

                            {% if event.type_event == 'message' %}
                                <div class="work-area-info-message">
                                    <div class="work-area-info-message-header">
                                        <div class="work-area-info-message-header-icon">
                                            <img src="/assets/img/chat-msg.svg" alt="">
                                        </div>
                                        <div class="work-area-info-message-header-text">
                                            <h4>Сообщение:</h4>
                                            <p>{{ event.date_create }}</p>
                                        </div>
                                    </div>

                                    <div class="work-area-info-message-body">
                                        <p>{{ event.event_text }}</p>
                                    </div>
                                    <p class="work-area-info-message-from">от {{ event.username }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="add-text-message">
                    <div class="add-text-message__input">
                        <textarea placeholder="Введите текст сообщения" id="msg-text"></textarea>
                        <img src="/assets/img/chat-msg.svg" alt="">
                    </div>
                    <div class="add-text-message-btn" id="add-task-message">
                        <p>Отправить</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/add-task" class="add-tasks" id="task-form" method="post">
        <h2>Создать новую задачу</h2>
        <div class="controls">
            <div class="input-block">
                <label for="executor">Выберете исполнителя</label>
                <select name="executor" id="executor">
                    {% if users %}
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.fullname }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="input-block">
                <label for="date_end">Дата выполнения</label>
                <input type="text" id="date_end" name="date_end" placeholder="Дата выполнения">
            </div>

            <div class="input-block">
                <label for="task-name">Название задачи</label>
                <input type="text" id="task-name" name="task-name" placeholder="Название задачи">
            </div>

            <div class="input-block">
                <label for="task-text">Текст задачи</label>
                <textarea name="task-text" id="task-text" placeholder="Текст задачи"></textarea>
            </div>
        </div>

        <input type="submit" class="create-task__btn" value="Создать задачу">
    </form>

    <script>
        new AirDatepicker('#date_end', {
            autoClose: true,
        });
    </script>
{% endblock %}